<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research & Innovation</title>
    <link rel="stylesheet" href="researchInnovation.css">
    <link rel="stylesheet" href="../commonstyles.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/chatbot.css">
    <link rel="stylesheet" href="../../css/backtotop.css">
    <link rel="stylesheet" href="../../css/fade-up.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="top-bar">
                    <a href="#" class="logo">Nalla Malla Reddy Engineering College</a>
                    <button class="hamburger" aria-label="Toggle navigation">☰</button>
                </div>

                <a href="#" class="logo desktop-logo">Nalla Malla Reddy Engineering College</a>

                <div class="nav-links">
                    <button class="close-btn" aria-label="Close menu">X</button>
                    <a class="underline-animation" href="../../index.html">Home</a>
                    <a class="underline-animation" href="../academics/academics.html">Academics</a>
                    <a class="underline-animation" href="../Internationalisation/internationalisation.html">Internationalisation</a>
                    <a class="underline-animation" href="../IndustryInteraction/industryInteraction.html">Industry Interaction</a>
                    <a class="underline-animation" href="../Placements/placements.html">Placements</a>
                    <a class="underline-animation" href="../Research&Innovation/researchInnovation.html">Research & Innovation</a>
                    <a class="underline-animation" href="../StudentActivities/studentActivities.html">Student Activities</a>
                    <a href="http://localhost:8000/login/" target="_blank" class="login-btn">Login</a>
                </div>
            </div>
        </nav>
    </header>


    <main>


        <div class="imgcontainer">
            <div class="card fade-up">
                <div class="cardimg"><img src="../../assets/images/researchandinnovation.jpeg" alt=""></div>
                <div class="cardheading"><span>Research & Innovation</span></div>
            </div>
        </div>

        <section class="container">
            <div class="info-section">
                <h2 class="section-title">Centre for Innovation, Incubation and Entrepreneurship</h2>
                <div class="info-content">
                    <p>The Centre for Innovation, Incubation, and Entrepreneurship at Nalla Malla Reddy Engineering College provides Pre-Incubation and Incubation services, offering office space with advanced computing facilities, managerial training, marketing support, patenting assistance, legal aid, design branding, technical mentorship, and access to state-of-the-art laboratories. A dedicated team of faculty, guided by the institution’s management, ensures the best resources for aspiring entrepreneurs.  

                    The centre aims to nurture entrepreneurial skills through training, product viability evaluation, and teamwork. It supports students, alumni, and early-stage startups with continuous mentoring from idea creation to business development. Collaborating with organizations like IIC-MHRD, T-Hub, IUCEE, EPICS (Purdue University), and J-Hub, it fosters innovation and entrepreneurship through its Innovation and Incubation Cell and Entrepreneurship Cell.​</p>
                </div>
            </div>

            <!-- Filter Navigation -->
            <div class="filter-group">
                <!-- <button class="filter-btn active" data-filter="activities">Technical Activities </button> -->
                <button class="filter-btn active" data-filter="Entrepreneurship ">Entrepreneurship </button>
                <button class="filter-btn" data-filter="innovation">Innovation Council</button>
                <button class="filter-btn" data-filter="incubation">Incubation Center</button>
            </div>

            <!-- Student Chapters -->
            <div class="group-content" data-group="Entrepreneurship ">
                <div class="hero-card">
                    <h2>Entrepreneurship Development Cell – NMREC</h2>
                </div>
                <p>The Entrepreneurship Development Cell (EDC) at Nalla Malla Reddy Engineering College (Autonomous) was established on 1st September 2012 to promote entrepreneurship, innovation, and self-employment among engineering graduates. Over 13 years, EDC has organized numerous field visits, entrepreneur interactions, and industrial exhibitions, leading to 40 students becoming successful entrepreneurs.</p>

                <h2>Events organized during 2022-23</h2>
                <ul>
                    <li><strong>Workshop on Problem Solving & Ideation</strong> – 12th Sep 2022 (CSE, AI&ML)</li>
                    <li><strong>Novel Manufacturing Trend & 3D Printing for Industry 4.0</strong> – 9th Nov 2022 (ME)</li>
                    <li><strong>Entrepreneurship & Innovation as a Career</strong> – 17th Nov 2022 (B.Tech 1st Year)</li>
                    <li><strong>Field Visit: Problem Identification</strong> – 1st-2nd Dec 2022 (HITEX, Hyderabad - ME)</li>
                    <li><strong>Field Visit: Innovations in Cold Storage</strong> – 3rd Dec 2022 (HITEX, Hyderabad - ME)</li>
                    <li><strong>Visit to TITA GLOBAL CONNECT, T-HUB</strong> – 16th Dec 2022</li>
                    <li><strong>Corporate Fuel Economy & E-Fuels</strong> – 17th Dec 2022 (ME, EEE)</li>
                    <li><strong>Business Innovation & Value Appropriation</strong> – 3rd Feb 2023 (ME, MBA)</li>
                    <li><strong>Fintech Trends & Opportunities</strong> – 27th Apr 2023 (MBA)</li>
                    <li><strong>Field Visit: Renewable Energy Startups</strong> – 28th-29th Apr 2023 (HITEX, Hyderabad - ME, EEE)</li>
                </ul>
                
                <h2>Events organised during 2023-24</h2>
                <ul>
                    <li><strong>Interaction with Entrepreneur Mr. Surya Praveen (GM, Rotomaker VFX)</strong> – 21st Nov 2023 (B.Tech)</li>
                    <li><strong>Workshop on Entrepreneurship as a Career</strong> – 22nd June 2024 (In association with EDII, Ahmedabad)</li>
                </ul>
                

                <h2>Photos of the events</h2>
                <div class="image-grid">
                    <div class="grid-item">
                        <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-16.png">
                    </div>
                    <div class="grid-item">
                        <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-14.png">
                    </div>
                    <div class="grid-item">
                        <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-17.png ">
                    </div>
                    <div class="grid-item">
                        <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-18.png ">
                    </div>
                </div>
            </div>

            <!-- Student Clubs -->
            <div class="group-content" data-group="innovation">
                <div class="hero-card">
                    <h2>NMREC – Institution’s Innovation Council</h2>
                </div>
                <p>In the Year 2018, Ministry of Education (MoE) through MoE’s Innovation Cell [MIC] launched the Institution’s Innovation Council (IIC) program in collaboration with AICTE for Higher Educational Institutions [HEIs] to systematically foster the culture of innovation and start-up ecosystem in education institutions. Primarily IIC’s role is to engage large number of faculty members and students in various innovation and entrepreneurship related activities such as ideation, problem solving, proof of concept development, Design Thinking, IPR, Project Handling and management at Pre-incubation / incubation stage, etc., so that innovation and entrepreneurship ecosystem gets established and stabilized in HEIs.

                    Our Institution has started the Institution’s Innovation Council, right from the inception of the MoE’s launch i.e. from the year 2018. we have done several activities in IIC for the benefit of the students and to make them as Techpreneur rather than employee. Below Certificates are the Establishment and Achievements in IIC.</p>
                <div class="image-grid">
                    <div class="grid-item">
                        <img src="./1.png">
                    </div>
                    <div class="grid-item">
                        <img src="./2.png">
                    </div>
                    <div class="grid-item">
                        <img src="./3.png">
                    </div>
                    <div class="grid-item">
                        <img src="./4.png">
                    </div>
                    <div class="grid-item">
                        <img src="./5.png">
                    </div>
                    <div class="grid-item">
                        <img src="./6.png">
                    </div>
                </div>
            </div>

            <!-- Student Events -->
            <div class="group-content" data-group="incubation">
                <div class="hero-card">
                    <h2>NMREC incubation Incubation Center</h2>
                    <p>Government-approved startup incubator providing funding, mentorship, and infrastructure support.
                    </p>
                </div>

                <div class="event-card">
                    <div class="event-content">
                        <div class="event-date">14 March 2024</div>
                        <h3>Entrepreneurship Awareness Program</h3>
                        <p>incubation – Development and Facilitation Office, Hyderabad, in association with IEEE Robotics
                            Automation Society, conducted a One-Day Entrepreneurship Awareness Program on March 14,
                            2024.
                            Led by Mr. Gulshan Bisht (Assistant Director, incubation DI, Hyderabad), Dr. Sudharshan Jayabalan
                            (Chairman, IEEE RAS, Hyderabad), and Mounika Sakhinethi (Founder, IIIRPD), the workshop
                            engaged
                            NMREC students, identifying numerous aspiring entrepreneurs and fostering a dynamic
                            community of
                            future innovators.
                        </p>
                        <div class="image-grid">
                            <div class="grid-item">
                                <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/07/image-29.png"
                                    alt="Workshop">
                            </div>
                            <div class="grid-item">
                                <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-4.png"
                                    alt="Session">
                            </div>
                            <div class="grid-item">
                                <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-13.png"
                                    alt="Session">
                            </div>
                        </div>
                    </div>
                    <div class="event-content">
                        <div class="event-date">30th April 2024</div>
                        <h3>Startup Ranking Framework 5.0 </h3>
                        <p>Dr. Movva Pavani, Professor of the ECE Department, and Mr. G.D. Siva Jagan, Assistant
                            Professor from Nalla Malla Reddy Engineering College, participated in the Startup Ranking
                            Framework 5.0 at T-Hub, Hyderabad on 30th April 2024. This event provided an excellent
                            platform for startups and innovation centers focused on recent technologies. The forum
                            brought together a diverse group of professionals, including scientists, entrepreneurs, and
                            industry experts, to discuss the latest advancements and challenges in the field of
                            technology and innovation.</p>

                        <div class="image-grid">
                            <div class="grid-item">
                                <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-5.png"
                                    alt="Startup Ranking Framework">
                            </div>
                        </div>
                    </div>

                    <div class="event-content">
                        <div class="event-date"> 29th May 2024</div>
                        <h3>T-Incubators Meet up </h3>
                        <p>Dr. Movva Pavani, Professor of the ECE Department, and Mr. G.D.Siva Jagan, Assistant
                            Professor from Nalla Malla Reddy Engineering College participated in T-Incubators Meet up at
                            We Hub HQ, Road No: 45, Jubilee hills , Hyderabad on 29th May 2024 . This event provided an
                            excellent platform for start-ups and innovation centres focused on new technologies The
                            forum brought together a diverse group of professionals, including scientists,
                            entrepreneurs, and industry experts, to discuss the latest advancements and challenges in
                            the field of technology and Innovation.</p>

                        <div class="image-grid">
                            <div class="grid-item">
                                <img src="https://www.nmrec.edu.in/wp-content/uploads/2024/08/image-7.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <button id="backtotopButton" onclick="scrollToTop()">
                <div class="progress-circle" id="progressCircle">↑</div>
            </button>

            <div id="chatbot-button" class="chatbot-button">
                <img id="chatbot-open-icon" src="../../assets/images/chatbot.svg" alt="Chatbot Icon">
                <img id="chatbot-close-icon" src="../../assets/images/close.svg" alt="Close Icon"
                    style="display: none;">
            </div>

            <!-- Chatbot iframe -->
            <div id="chatbot-container" class="chatbot-container">
                <iframe src="https://www.chatbase.co/chatbot-iframe/5CT-eoeHJHPfVGHkYyEQi" width="100%" height="100%"
                    style="border-radius: 10px; border: none;"></iframe>
            </div>
            <div id="temp"></div>
        </section>
    </main>


    <footer class="footer fade-up">
        <div class="footer-container">

            <div class="footer-section footerlogo">
                <img src="" alt="">
            </div>

            <div class="footer-section">
                <h4>Contact Us</h4>
                <address>
                    NALLA MALLA REDDY ENGINEERING COLLEGE<br>
                    Divyanagar, Kachivanisingaram<br>
                    Ghatkesar Mandal, Medchal District- 500088<br>
                    Hyderabad,Telangana, India.<br>
                    Phone: <a href="tel:+917702266732">+91 7702266732</a> /
                    <a href="tel:+917702866732">7702866732</a><br>
                    Email: <a href="mailto:info@nmrec.edu.in">info@nmrec.edu.in</a>
                </address>
            </div>

            <div class="footer-section">
                <h4>Useful Links</h4>
                <ul class="footer-links">
                    <li><a href="../academics/curriculum/syllabus.html">Syllabus</a></li>
                    <li><a href="../academics/curriculum/regulations.html">Regulations</a></li>
                    <li><a href="../academics/curriculum/academiccalendar.html">Academic Calendars</a></li>
                </ul>
            </div>
        </div>

        <div class="social-row">
            <div class="social-container">
                <div class="social-item">
                    <div class="social-card"></div>
                    <a class="underline-animation"
                        href="https://www.facebook.com/nallamallareddyengineeringcollege">Facebook</a>
                </div>

                <div class="social-item">
                    <div class="social-card"></div>
                    <a class="underline-animation" href="https://x.com/NMRECofficial">Twitter</a>
                </div>

                <div class="social-item">
                    <div class="social-card"></div>
                    <a class="underline-animation" href="https://in.linkedin.com/school/nmrecofficial/">LinkedIn</a>
                </div>

                <div class="social-item">
                    <div class="social-card"></div>
                    <a class="underline-animation" href="https://www.instagram.com/nmrec_official/">Instagram</a>
                </div>
            </div>
        </div>


        <div class="copyright">
            <p>&copy; <span id="year">2025</span> Nalla Malla Reddy Engineering College. All rights reserved.</p>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("year").textContent = new Date().getFullYear();
            });

        </script>
    </footer>

    <script src="./researchInnovation.js"></script>
    <script src="../../js/backtotop.js"></script>
    <script src="../../js/chatbot.js"></script>
    <script src="../../js/fade-up.js"></script>
    <script src="../../js/navigation.js"></script>
    <script src="../../js/navigation.js"></script>
    
</body>

</html>